body{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    

}

.todo-text{
    margin-left: 5px;

}

.todo-container {
    width: 300px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todo-item{
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.todo-button{
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}